* {
    margin: 10;
    border: 10;
}
ul li::after {
    content: ' - ';
    background: gray;
}
p::first-letter {
    font-size: 40px;
}
p::first-line {
    color: red;
}
p::selection {
    background: black;
    color: antiquewhite;
}